/* 
    General Styles
*/
#logo{
   filter: brightness(1.1);
   mix-blend-mode: multiply;
}

.scroll{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 2em;
}


.card{
    margin: 1.2em;
}

#singleImg{
    max-height: 20rem;
    object-fit: contain;
}